#s1_child1{
    background-color: #b3b3cc;
    float: right;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
}

#s1_child2{
    float: right;
    padding: 0;
}

#s3_child2, #s4_child2{
    background-color: #bfbfbf;
}

#section4{
    padding-top: 20px;
}

#section21{
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}



.row{
    display: flex;
}

.col{
    flex: 1;
}



li:hover, a:hover{
    color: #0080ff;
}

.logoImage{
    width: 100px;
    height: 5%;;
}

.teamImg{
    max-width: 100%;
    max-height: 100%;
}

.compImage{
    max-width: 100%;
    max-height: 100%;
}

.peopleImg{
    max-width: 100%;
    max-height: 100%;
}

.courseHead{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 3px;
}

