html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.jumboImg{
    width: 950px;
    height: 210px;
}

.jumbotron{
    background-color: #ffffff;
    border: none;
}

button{
    color: #008000;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button1{
    color: #F7F9FB;
    background-color: #687864;
}

.button2{
    color: #F7F9FB;
    background-color: #5085A5;
}
